{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <div><center>
        {% if error_code==1 %}
          <div>Invalid Password!</div>
        {% endif %}
        {% if error_code==2 %}
        <div>This admin doesnt exist on database!</div>
        {% endif %}
        {% if error_code==3 %}
        <div>There's a problem with submitting this form! Please try again!</div>
        {% endif %}
      </center></div> <br>

      <form class="form-signin" method="POST" action="/admin/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <br><br><br><hr><br>
      <a href="{{ url_for('login') }}"><button class="btn btn-lg btn-primary ">Back</button></a>

    </div> <!-- /container -->
{% endblock %}
