<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
        <div class="jumbotron">
                <center>
                        <div class="jumbotron">
                                <h1 class="display-4">Oops!<hr> This page doesnt exist or there's a problem with your internet </h1>
                                <br><br>
                                <a class="btn btn-primary btn-lg" href="{{url_for('index')}}" role="button">Go to home Page!</a> <br><br>
                        </div>
                </center>
                </p>
            </div>
</body>
</html>
